<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudStructures" version="1.2.0" targetFramework="net452" />
  <package id="Jil" version="2.15.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.4" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.4" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="Sigil" version="4.7.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
  <package id="Z.ExtensionMethods" version="2.0.12" targetFramework="net452" />
</packages>