<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CloudStructures" version="1.2.0" targetFramework="net451" />
  <package id="DnsClient" version="1.0.7" targetFramework="net451" />
  <package id="Jil" version="2.15.4" targetFramework="net451" />
  <package id="mongocsharpdriver" version="2.5.0" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.5.0" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.5.0" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.5.0" targetFramework="net451" />
  <package id="Sigil" version="4.7.0" targetFramework="net451" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net451" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net451" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net451" />
  <package id="Z.ExtensionMethods" version="2.0.13" targetFramework="net451" />
</packages>